.fb-filebrowser {
    /* espacio entre ficheros */
    --fb-gutter-x: 10px;
    --fb-gutter-y: 10px;

    /** tamaño de los iconos */
    --fb-icon-size: 3em;
    --fb-icon-margin-x: 0.5em;
    --fb-icon-separation: 0.5em;

    /** redondeo de los bordes */
    --fb-border-radius: 5px;

    /** borde de los ficheros */
    --fb-border: solid 1px #ccc;

    /** padding dentro de cada fichero */
    --fb-file-padding: 0.5em;

    /** padding entre el borde y el contenido */
    --fb-padding: 0.5em;
}

/** colores para los iconos */
.fb-file-icon .fa-file-pdf, .fb-file-icon .bi-filetype-pdf {
    color: red;
}
.fb-file-icon .fa-file-word, .fb-file-icon .bi-filetype-doc, .fb-file-icon .bi-filetype-docx {
    color: blue;
}
.fb-file-icon .fa-file-excel, .fb-file-icon .bi-filetype-xls, .fb-file-icon .bi-filetype-xlsx {
    color: green;
}
.fb-file-icon .fa-file-powerpoint, .fb-file-icon .bi-filetype-ppt, .fb-file-icon .bi-filetype-pptx {
    color: orange;
}
.fb-file-icon .fa-file-image, .fb-file-icon .bi-filetype-png, .fb-file-icon .bi-filetype-jpg, .fb-file-icon .bi-filetype-gif, .fb-file-icon .bi-filetype-jpeg {
    color: purple;
}
.fb-file-icon .fa-file-archive, .fb-file-icon .bi-file-zip {
    color: brown;
}
.fb-file-icon .fa-file-audio, .fb-file-icon .bi-filetype-wav, .fb-file-icon .bi-filetype-mp3 {
    color: darkgoldenrod;
}
.fb-file-icon .fa-file-video, .fb-file-icon .bi-filetype-mov, .fb-file-icon .bi-filetype-mp4, .fb-file-icon .bi-filetype-avi {
    color: darkblue;
}
.fb-file-icon .fa-file-code, .fb-file-icon .bi-filetype-html, .fb-file-icon .bi-filetype-cpp, .fb-file-icon .bi-filetype-h, .fb-file-icon .bi-filetype-c,
.fb-file-icon .bi-filetype-js, .fb-file-icon .bi-filetype-css, .fb-file-icon .bi-filetype-php, .fb-file-icon .bi-filetype-json, .fb-file-icon .bi-filetype-xml,
.fb-file-icon .bi-filetype-csv {
    color: blue;
}
.fb-file-icon .fa-file-alt {
    color: gray;
}
.fb-file-icon .fa-file {
    color: black;
}
.fb-file-icon .fa-folder {
    color: #007bff;
}
.fb-file-icon .fa-reply {
    color: #007bff;
}
.fb-hidden {
    display: none;
}