.fb-list {
    padding: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.fb-list table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.fb-list td {
    padding: var(--fb-gutter-y) 1.5em;
    vertical-align: middle;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    color: #666;
    font-size: 0.875em;
}

.fb-list td.fb-file-size {
    text-align: right;
}

.fb-list td span.fb-file-icon i {
    width: 1em;
    margin-right: 0.25em;
} 

.fb-list thead {
    background-color: #f8f9fa;
    position: sticky;
    top: 0;
}
.fb-list thead th {
    padding: 0.5em 1.5em;
    font-weight: normal;
    text-align: left;
    position: relative;
    top: 0;
    color: #777;
    font-size: 0.8em;
}

/** sorting icons */
.fb-list thead th i {
    margin-right: 0.5em;
    position: absolute;
    right: 0;
}
.fb-list thead th i.sorter {
    cursor: pointer;
    width: 1em;
    text-align: center;
    user-select: none;
    height: 1em;
}
/** resizer */
.fb-list thead .fb-resizer {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    cursor: col-resize;
    user-select: none;
    z-index: 10;
    height: 100%;
}
.fb-list thead .fb-resizer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: #eee;
}

.fb-list .fb-resizer.resizing,
.fb-list .fb-resizer:hover {
    cursor: col-resize;
}
.fb-list .resizing {
    pointer-events: none;
}

/** the selected row */
.fb-list tr.selected {
    background-color: #007bff;
    color: white;
    position: relative;
    /* background-color: #eee;
    border-color: #ddd; */
}
.fb-list tr.selected td {
    color: white;
}
.fb-list tr.selected td i {
    color: white;
}
