.jsfb-filelist {
    /* espacio entre ficheros */
    --jsfb-filelist-gutter-x: 10px;
    --jsfb-filelist-gutter-y: 10px;

    /** tamaño de los iconos */
    --jsfb-filelist-icon-size: 3em;
    --jsfb-filelist-icon-margin-x: 0.5em;
    --jsfb-filelist-icon-separation: 0.5em;

    /** redondeo de los bordes */
    --jsfb-filelist-border-radius: 5px;

    /** borde de los ficheros */
    --jsfb-filelist-border: solid 1px #ccc;

    /** padding dentro de cada fichero */
    --jsfb-filelist-file-padding: 0.5em;

    /** padding entre el borde y el contenido */
    --jsfb-filelist-padding: 0.5em;
}

.jsfb-filelist {
    overflow: auto;
    width: 100%;
    height: 100%;
}

.jsfb-filelist-table {
    padding: var(--jsfb-filelist-padding);
    overflow: auto;
    width: 100%;
}
.jsfb-filelist-table td {
    padding: var(--jsfb-filelist-gutter-y) 1.5em;
    vertical-align: middle;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
}
.jsfb-filelist-table td {
    color: #666;
    font-size: 0.8em;
}
.jsfb-filelist-table td.jsfb-file-size {
    text-align: right;
}
/* .jsfb-filelist-table th.jsfb-file-name {
    padding-left: 1.5em;
}*/
.jsfb-filelist-table td span.jsfb-file-icon i {
    width: 1em;
} 
.jsfb-filelist-table th {
    position: relative;
}
.jsfb-filelist-table .jsfb-resizer {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    cursor: col-resize;
    user-select: none;
    z-index: 10;
    height: 100%;
}

.jsfb-filelist-table .jsfb-resizer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: #eee;
}

.jsfb-filelist-table .jsfb-resizer.resizing,
.jsfb-filelist-table .jsfb-resizer:hover {
    cursor: col-resize;
}
.jsfb-filelist-table .resizing {
    pointer-events: none;
}

.jsfb-filelist-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: var(--jsfb-filelist-padding);
    overflow: auto;
    height: 100%;
}

.jsfb-filelist-grid .jsfb-file-wrapper {
    display: flex;
    /* flex: 1 0 0%; */
    width: calc(100% - calc(var(--jsfb-filelist-gutter-x) * 2)) !important;
    margin-left: var(--jsfb-filelist-gutter-x);
    margin-top: var(--jsfb-filelist-gutter-y);
    position: relative;
}

.jsfb-filelist-grid .jsfb-file {
    height: fit-content;
    width: 100%;
    border: var(--jsfb-filelist-border);
    border-radius: var(--jsfb-filelist-border-radius);
    display: flex;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    padding: var(--jsfb-filelist-file-padding);
}

.jsfb-filelist-grid .jsfb-file-icon {
    width: var(--jsfb-filelist-icon-size);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: calc(var(--jsfb-filelist-icon-margin-x) + var(--jsfb-filelist-icon-separation));
    margin-left: var(--jsfb-filelist-icon-margin-x);
}

.jsfb-filelist-grid .jsfb-file-details {
    width: calc(100% - var(--jsfb-filelist-icon-size));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.jsfb-filelist-grid .jsfb-file p {
    text-align: left;
    margin: 0;
}

.jsfb-filelist-grid .jsfb-file-icon i {
    font-size: var(--jsfb-filelist-icon-size);
}

.jsfb-filelist-grid .jsfb-file-name {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    white-space: nowrap;
}          

.jsfb-filelist-grid .jsfb-file-size {
    font-size: 0.8em;
    color: #666;
}

.jsfb-filelist-grid .jsfb-file-modified {
    font-size: 0.8em;
    color: #666;
}

/** los objetos de tipo file, en funcion del tamaño de pantalla */
.jsfb-filelist-grid 
.jsfb-filelist-1 .jsfb-file-wrapper {
    flex: 0 0 auto;
    width: calc(100% - calc(var(--jsfb-filelist-gutter-x) * 2)) !important;
}
.jsfb-filelist-grid 
.jsfb-filelist-2 .jsfb-file-wrapper {
    flex: 0 0 auto;
    width: calc(calc(100% - calc(var(--jsfb-filelist-gutter-x) * 3)) * 0.5) !important;
}
.jsfb-filelist-grid 
.jsfb-filelist-2 .jsfb-file-wrapper:nth-child(2n) {
    margin-right: var(--jsfb-filelist-gutter-x);
}
.jsfb-filelist-grid 
.jsfb-filelist-3 .jsfb-file-wrapper {
    flex: 0 0 auto;
    width: calc(calc(100% - calc(var(--jsfb-filelist-gutter-x) * 4)) * 0.33) !important;
}
.jsfb-filelist-grid
.jsfb-filelist-3 .jsfb-file-wrapper:nth-child(3n) {
    margin-right: var(--jsfb-filelist-gutter-x);
}
.jsfb-filelist-grid
.jsfb-filelist-4 .jsfb-file-wrapper {
    flex: 0 0 auto;
    width: calc(calc(100% - calc(var(--jsfb-filelist-gutter-x) * 5)) * 0.25) !important;
}
.jsfb-filelist-grid
.jsfb-filelist-4 .jsfb-file-wrapper:nth-child(4n) {
    margin-right: var(--jsfb-filelist-gutter-x);
}

@media screen and (min-width: 576px) {
    .jsfb-filelist-grid .jsfb-file-wrapper {
        margin-right: 0 !important;
    }
    .jsfb-filelist-sm-2 .jsfb-filelist-grid .jsfb-file-wrapper {
        width: calc(calc(100% - calc(var(--jsfb-filelist-gutter-x) * 3)) * 0.5) !important;
    }
    .jsfb-filelist-sm-2 .jsfb-filelist-grid .jsfb-file-wrapper:nth-child(2n) {
        margin-right: var(--jsfb-filelist-gutter-x);
    }
    .jsfb-filelist-sm-3 .jsfb-filelist-grid .jsfb-file-wrapper {
        width: calc(calc(100% - calc(var(--jsfb-filelist-gutter-x) * 4)) * 0.33) !important;
    }
    .jsfb-filelist-sm-3 .jsfb-filelist-grid .jsfb-file-wrapper:nth-child(3n) {
        margin-right: var(--jsfb-filelist-gutter-x);
    }
    .jsfb-filelist-sm-4 .jsfb-filelist-grid .jsfb-file-wrapper {
        width: calc(calc(100% - calc(var(--jsfb-filelist-gutter-x) * 5)) * 0.25) !important;
    }
    .jsfb-filelist-sm-4 .jsfb-filelist-grid .jsfb-file-wrapper:nth-child(4n) {
        margin-right: var(--jsfb-filelist-gutter-x);
    }
    .jsfb-filelist-sm-5 .jsfb-filelist-grid .jsfb-file-wrapper {
        width: calc(calc(100% - calc(var(--jsfb-filelist-gutter-x) * 6)) * 0.2) !important;
    }
    .jsfb-filelist-sm-5 .jsfb-filelist-grid .jsfb-file-wrapper:nth-child(5n) {
        margin-right: var(--jsfb-filelist-gutter-x);
    }
    .jsfb-filelist-sm-6 .jsfb-filelist-grid .jsfb-file-wrapper {
        width: calc(calc(100% - calc(var(--jsfb-filelist-gutter-x) * 7)) * 0.1666666667) !important;
    }
    .jsfb-filelist-sm-6 .jsfb-filelist-grid .jsfb-file-wrapper:nth-child(6n) {
        margin-right: var(--jsfb-filelist-gutter-x);
    }
    .jsfb-filelist-sm-7 .jsfb-filelist-grid .jsfb-file-wrapper {
        width: calc(calc(100% - calc(var(--jsfb-filelist-gutter-x) * 8)) * 0.1428571429) !important;
    }
    .jsfb-filelist-sm-7 .jsfb-filelist-grid .jsfb-file-wrapper:nth-child(7n) {
        margin-right: var(--jsfb-filelist-gutter-x);
    }
    .jsfb-filelist-sm-8 .jsfb-filelist-grid .jsfb-file-wrapper {
        width: calc(calc(100% - calc(var(--jsfb-filelist-gutter-x) * 9)) * 0.125) !important;
    }
    .jsfb-filelist-sm-8 .jsfb-filelist-grid .jsfb-file-wrapper:nth-child(8n) {
        margin-right: var(--jsfb-filelist-gutter-x);
    }
}
@media screen and (min-width: 768px) {
    .jsfb-filelist-grid .jsfb-file-wrapper {
        margin-right: 0 !important;
    }
    .jsfb-filelist-md-2 .jsfb-filelist-grid .jsfb-file-wrapper {
        width: calc(calc(100% - calc(var(--jsfb-filelist-gutter-x) * 3)) * 0.5) !important;
    }
    .jsfb-filelist-md-2 .jsfb-filelist-grid .jsfb-file-wrapper:nth-child(2n) {
        margin-right: var(--jsfb-filelist-gutter-x);
    }
    .jsfb-filelist-md-3 .jsfb-filelist-grid .jsfb-file-wrapper {
        width: calc(calc(100% - calc(var(--jsfb-filelist-gutter-x) * 4)) * 0.33) !important;
    }
    .jsfb-filelist-md-3 .jsfb-filelist-grid .jsfb-file-wrapper:nth-child(3n) {
        margin-right: var(--jsfb-filelist-gutter-x);
    }
    .jsfb-filelist-md-4 .jsfb-filelist-grid .jsfb-file-wrapper {
        width: calc(calc(100% - calc(var(--jsfb-filelist-gutter-x) * 5)) * 0.25) !important;
    }
    .jsfb-filelist-md-4 .jsfb-filelist-grid .jsfb-file-wrapper:nth-child(4n) {
        margin-right: var(--jsfb-filelist-gutter-x);
    }
    .jsfb-filelist-md-5 .jsfb-filelist-grid .jsfb-file-wrapper {
        width: calc(calc(100% - calc(var(--jsfb-filelist-gutter-x) * 6)) * 0.2) !important;
    }
    .jsfb-filelist-md-5 .jsfb-filelist-grid .jsfb-file-wrapper:nth-child(5n) {
        margin-right: var(--jsfb-filelist-gutter-x);
    }
    .jsfb-filelist-md-6 .jsfb-filelist-grid .jsfb-file-wrapper {
        width: calc(calc(100% - calc(var(--jsfb-filelist-gutter-x) * 7)) * 0.1666666667) !important;
    }
    .jsfb-filelist-md-6 .jsfb-filelist-grid .jsfb-file-wrapper:nth-child(6n) {
        margin-right: var(--jsfb-filelist-gutter-x);
    }
    .jsfb-filelist-md-7 .jsfb-filelist-grid .jsfb-file-wrapper {
        width: calc(calc(100% - calc(var(--jsfb-filelist-gutter-x) * 8)) * 0.1428571429) !important;
    }
    .jsfb-filelist-md-7 .jsfb-filelist-grid .jsfb-file-wrapper:nth-child(7n) {
        margin-right: var(--jsfb-filelist-gutter-x);
    }
    .jsfb-filelist-md-8 .jsfb-filelist-grid .jsfb-file-wrapper {
        width: calc(calc(100% - calc(var(--jsfb-filelist-gutter-x) * 9)) * 0.125) !important;
    }
    .jsfb-filelist-md-8 .jsfb-filelist-grid .jsfb-file-wrapper:nth-child(8n) {
        margin-right: var(--jsfb-filelist-gutter-x);
    }
}
@media screen and (min-width: 1024px) {
    .jsfb-filelist-grid .jsfb-file-wrapper {
        margin-right: 0 !important;
    }
    .jsfb-filelist-l-2 .jsfb-filelist-grid .jsfb-file-wrapper {
        width: calc(calc(100% - calc(var(--jsfb-filelist-gutter-x) * 3)) * 0.5) !important;
    }
    .jsfb-filelist-l-2 .jsfb-filelist-grid .jsfb-file-wrapper:nth-child(2n) {
        margin-right: var(--jsfb-filelist-gutter-x);
    }
    .jsfb-filelist-l-3 .jsfb-filelist-grid .jsfb-file-wrapper {
        width: calc(calc(100% - calc(var(--jsfb-filelist-gutter-x) * 4)) * 0.3333334) !important;
    }
    .jsfb-filelist-l-3 .jsfb-filelist-grid .jsfb-file-wrapper:nth-child(3n) {
        margin-right: var(--jsfb-filelist-gutter-x);
    }
    .jsfb-filelist-l-4 .jsfb-filelist-grid .jsfb-file-wrapper {
        width: calc(calc(100% - calc(var(--jsfb-filelist-gutter-x) * 5)) * 0.25) !important;
    }
    .jsfb-filelist-l-4 .jsfb-filelist-grid .jsfb-file-wrapper:nth-child(4n) {
        margin-right: var(--jsfb-filelist-gutter-x);
    }
    .jsfb-filelist-l-5 .jsfb-filelist-grid .jsfb-file-wrapper {
        width: calc(calc(100% - calc(var(--jsfb-filelist-gutter-x) * 6)) * 0.2) !important;
    }
    .jsfb-filelist-l-5 .jsfb-filelist-grid .jsfb-file-wrapper:nth-child(5n) {
        margin-right: var(--jsfb-filelist-gutter-x);
    }
    .jsfb-filelist-l-6 .jsfb-filelist-grid .jsfb-file-wrapper {
        width: calc(calc(100% - calc(var(--jsfb-filelist-gutter-x) * 7)) * 0.1666666667) !important;
    }
    .jsfb-filelist-l-6 .jsfb-filelist-grid .jsfb-file-wrapper:nth-child(6n) {
        margin-right: var(--jsfb-filelist-gutter-x);
    }
    .jsfb-filelist-l-7 .jsfb-filelist-grid .jsfb-file-wrapper {
        width: calc(calc(100% - calc(var(--jsfb-filelist-gutter-x) * 8)) * 0.1428571429) !important;
    }
    .jsfb-filelist-l-7 .jsfb-filelist-grid .jsfb-file-wrapper:nth-child(7n) {
        margin-right: var(--jsfb-filelist-gutter-x);
    }
    .jsfb-filelist-l-8 .jsfb-filelist-grid .jsfb-file-wrapper {
        width: calc(calc(100% - calc(var(--jsfb-filelist-gutter-x) * 9)) * 0.125) !important;
    }
    .jsfb-filelist-l-8 .jsfb-filelist-grid .jsfb-file-wrapper:nth-child(8n) {
        margin-right: var(--jsfb-filelist-gutter-x);
    }
} 
@media screen and (min-width: 1200px) {
    .jsfb-filelist-grid .jsfb-file-wrapper {
        margin-right: 0 !important;
    }
    .jsfb-filelist-xl-2 .jsfb-filelist-grid .jsfb-file-wrapper {
        width: calc(calc(100% - calc(var(--jsfb-filelist-gutter-x) * 3)) * 0.5) !important;
    }
    .jsfb-filelist-xl-2 .jsfb-filelist-grid .jsfb-file-wrapper:nth-child(2n) {
        margin-right: var(--jsfb-filelist-gutter-x);
    }
    .jsfb-filelist-xl-3 .jsfb-filelist-grid .jsfb-file-wrapper {
        width: calc(calc(100% - calc(var(--jsfb-filelist-gutter-x) * 4)) * 0.33) !important;
    }
    .jsfb-filelist-xl-3 .jsfb-filelist-grid .jsfb-file-wrapper:nth-child(3n) {
        margin-right: var(--jsfb-filelist-gutter-x);
    }
    .jsfb-filelist-xl-4 .jsfb-filelist-grid .jsfb-file-wrapper {
        width: calc(calc(100% - calc(var(--jsfb-filelist-gutter-x) * 5)) * 0.25) !important;
    }
    .jsfb-filelist-xl-4 .jsfb-filelist-grid .jsfb-file-wrapper:nth-child(4n) {
        margin-right: var(--jsfb-filelist-gutter-x);
    }
    .jsfb-filelist-xl-5 .jsfb-filelist-grid .jsfb-file-wrapper {
        width: calc(calc(100% - calc(var(--jsfb-filelist-gutter-x) * 6)) * 0.2) !important;
    }
    .jsfb-filelist-xl-5 .jsfb-filelist-grid .jsfb-file-wrapper:nth-child(5n) {
        margin-right: var(--jsfb-filelist-gutter-x);
    }
    .jsfb-filelist-xl-6 .jsfb-filelist-grid .jsfb-file-wrapper {
        width: calc(calc(100% - calc(var(--jsfb-filelist-gutter-x) * 7)) * 0.1666666667) !important;
    }
    .jsfb-filelist-xl-6 .jsfb-filelist-grid .jsfb-file-wrapper:nth-child(6n) {
        margin-right: var(--jsfb-filelist-gutter-x);
    }
    .jsfb-filelist-xl-7 .jsfb-filelist-grid .jsfb-file-wrapper {
        width: calc(calc(100% - calc(var(--jsfb-filelist-gutter-x) * 8)) * 0.1428571429) !important;
    }
    .jsfb-filelist-xl-7 .jsfb-filelist-grid .jsfb-file-wrapper:nth-child(7n) {
        margin-right: var(--jsfb-filelist-gutter-x);
    }
}

/** colores para los iconos */
.jsfb-file-icon .fa-file-pdf {
    color: red;
}
.jsfb-file-icon .fa-file-word {
    color: blue;
}
.jsfb-file-icon .fa-file-excel {
    color: green;
}
.jsfb-file-icon .fa-file-powerpoint {
    color: orange;
}
.jsfb-file-icon .fa-file-image {
    color: purple;
}
.jsfb-file-icon .fa-file-archive {
    color: brown;
}
.jsfb-file-icon .fa-file-audio {
    color: darkgoldenrod;
}
.jsfb-file-icon .fa-file-video {
    color: darkblue;
}
.jsfb-file-icon .fa-file-code {
    color: black;
}
.jsfb-file-icon .fa-file-alt {
    color: gray;
}
.jsfb-file-icon .fa-file {
    color: black;
}